<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">

    <!-- header Start -->
    <h1>Start WebService with SpringBoot</h1>
    --------여기까지 헤더입니다,!!!!!!!
    <!-- header End -->
</head>
<body>