{{>layout/header}}
<div class="col-md-12">
    <!-- 로그인 영역 -->
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
            {{#userName}}
                <!-- 머스테치는 if문을 제공하지 않는다. true/false 여부만 판단한다. userName이 있다면 userName을 노출 -->
                Logged in as: <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                <!-- 스프링 시큐리티에서 기본적으로 제공하는 로그아웃 URL. 별도의 URL 컨트롤러가 필요 없다. -->
            {{/userName}}
            {{^userName}}
                <!-- 머스테치에서 해당 값이 존재하지 않을 때 ^ 기호를 사용한다. userName이 없는 경우 로그인 버튼을 노출시킨다. -->
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                <!--스프링 시큐리티에서 기본적으로 제공하는 로그인 URL. 로그아웃 URL과 마찬가지로 별도의 URL 컨트롤러가 필요 없다.-->
            {{/userName}}
        </div>
    </div>
    <br>
    <!-- 목록 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글 번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
</div>
</body>
{{>layout/footer}}